table thead tr th {
    width: 500px;
}

table td {
    width: 500px;
    text-align: center;
}

.user-details-div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.users-heading {
  margin-left: 30%;
}

.toggle-btn {
  margin-left: 72%;
}

.user-registration-form {
    margin-right: 15%;
}